@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    @apply px-4;
    @apply py-1;
    @apply border;
    @apply border-transparent;
    @apply text-base;
    @apply leading-6;
    @apply font-normal;
    @apply rounded-md;
    @apply transition;
    @apply duration-150;
    @apply ease-in-out;
  }

  .btn:focus {
    @apply outline-none;
    @apply ring;
  }

  .btn[data-mode="primary"] {
    @apply bg-blue-600;
    @apply text-white;
  }

  .btn[data-mode="primary"]:hover {
    @apply bg-blue-500;
  }

  .btn[data-mode="light"] {
    @apply text-blue-700;
    @apply bg-blue-100;
  }

  .btn[data-mode="light"]:hover {
    @apply text-blue-600;
    @apply bg-blue-50;
  }

  .btn[data-mode="light"]:focus {
    @apply border-blue-300;
  }

  .btn[data-size="big"] {
    @apply px-8;
    @apply py-3;
    @apply font-medium;
  }

  @media (min-width: 768px) {
    .btn[data-size="big"] {
      @apply py-4;
      @apply px-10;
      @apply text-lg;
    }
  }
}
