@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }
}

@layer components {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    @apply px-4;
    @apply py-1;
    @apply border;
    @apply border-transparent;
    @apply text-base;
    @apply leading-6;
    @apply font-normal;
    @apply rounded-md;
    @apply transition;
    @apply duration-150;
    @apply ease-in-out;
  }

  .btn:focus {
    @apply outline-none;
    @apply ring;
  }

  .btn[data-mode="primary"] {
    @apply bg-blue-600;
    @apply text-white;
  }

  .btn[data-mode="primary"]:hover {
    @apply bg-blue-500;
  }

  .btn[data-mode="light"] {
    @apply text-blue-700;
    @apply bg-blue-100;
  }

  .btn[data-mode="light"]:hover {
    @apply text-blue-600;
    @apply bg-blue-50;
  }

  .btn[data-mode="light"]:focus {
    @apply border-blue-300;
  }

  .btn[data-size="big"] {
    @apply px-8;
    @apply py-3;
    @apply font-medium;
  }

  @media (min-width: 768px) {
    .btn[data-size="big"] {
      @apply py-4;
      @apply px-10;
      @apply text-lg;
    }
  }

  /* TODO: find a way to scope this in article page but still using tailwind @apply */
  .article-page {
    max-width: 680px;
    @apply text-xl;
  }

  .article-content * {
    @apply my-8;
    @apply leading-relaxed;
  }

  .article-content a,
  .article-figcaption a {
    @apply underline;
    @apply text-blue-500;
  }

  .article-main-title,
  .article-content h1,
  .article-content h2,
  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6 {
    @apply mt-16;
    @apply tracking-tight;
    @apply leading-none;
    @apply font-extrabold;
    @apply text-blue-500;
  }

  .article-main-title::first-line,
  .article-content h1::first-line,
  .article-content h2::first-line,
  .article-content h3::first-line,
  .article-content h4::first-line,
  .article-content h5::first-line,
  .article-content h6::first-line {
    @apply text-gray-900;
  }

  .article-main-title {
    @apply text-4xl;
  }

  @media (min-width: 640px) {
    .article-main-title {
      @apply text-5xl;
    }
  }

  .article-content h2 {
    @apply text-3xl;
  }

  .article-content h3 {
    @apply text-2xl;
  }

  .article-content h4 {
    @apply text-xl;
  }

  .article-content h5 {
    @apply text-lg;
  }

  .article-content ul {
    @apply -mt-4;
    @apply pl-8;
    @apply list-disc;
  }

  .article-content ol {
    @apply -mt-4;
    @apply pl-8;
    @apply list-decimal;
  }

  .article-content li {
    @apply mt-0;
    @apply mb-2;
  }

  .article-content blockquote {
    @apply pl-4;
    @apply border-l-8;
    @apply border-blue-500;
    @apply text-2xl;
    @apply text-gray-600;
    @apply italic;
  }

  .article-content pre {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow-x: auto;
  }

  .article-content code {
    font-size: 0.8em;
  }

  .article-content pre code {
    font-size: 0.6em;
  }
}
