# Classic
.vscode/
.DS_Store
.idea/
node_modules

# Remix
/.cache
/build
/public/build
tsconfig.tsbuildinfo

# Testing
/coverage

# Tailwind
app/styles/generated/tailwind.css

# Storybook
/storybook-static